@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SovMod;
  font-display: swap;
  src: url("../fonts/SovMod.woff2") format("woff2"), url("../fonts/SovMod.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  color: #fff;
  background: #0F0F0F;
  font-family: "Montserrat";
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content,
.catalog__content {
  margin: 0 auto;
  max-width: 1900px;
  padding-left: calc(30px + 70 * ((100vw - 320px) / 1380));
  padding-right: calc(30px + 70 * ((100vw - 320px) / 1380));
}

.wrapper {
  position: relative;
}

.modal__wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
}

.modal__wr-active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  pointer-events: all;
}

.modal__body {
  width: 290px;
  background-color: #fff;
  color: #060606;
  height: 100px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
          transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.modal__body-open {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.btn {
  width: 260px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  background: #2D2D2D;
}

h3 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.header {
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 901;
}

.header__logo img {
  max-width: 180px;
}

.initial {
  margin-top: calc(90px + 20 * ((100vw - 320px) / 1380));
}

.header__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 40px 0px 40px 0;
}

.header__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  position: relative;
  height: calc(400px + 350 * ((100vw - 320px) / 1380));
}

.header__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(400px + 350 * ((100vw - 320px) / 1380));
}

.social-networks__item {
  gap: 20px;
}

.header__nav-line {
  width: 45px;
  height: 2px;
  background-color: #fff;
  margin-left: 10px;
}

.header__nav-btn {
  padding-top: calc(0px + 60 * ((100vw - 320px) / 1380));
  padding-bottom: calc(0px + 60 * ((100vw - 320px) / 1380));
}

.pl18 {
  padding-right: calc(20px + 20 * ((100vw - 320px) / 1380));
  padding-left: 10px;
}

.nav-btn__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.nav-btn__img img {
  min-width: 100%;
}

.nav-btn__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0 5px;
}

h1,
h2,
h3 {
  font-family: "SovMod";
  line-height: 115%;
  letter-spacing: 6px;
}

h1 {
  font-size: calc(20px + 50 * ((100vw - 320px) / 1380));
  line-height: 115%;
  color: #0F0F0F;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-bottom: calc(0px + 15 * ((100vw - 320px) / 1380));
}

h2 {
  color: #fff;
  font-size: calc(20px + 40 * ((100vw - 320px) / 1380));
  margin-bottom: 27px;
}

.nav-btn__subttle {
  padding-left: 5%;
}

.initial__btn,
.initial__btn-red {
  margin-left: 8%;
}

.initial__btn {
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.initial__btn-red {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: #C73D42;
}

.header__btn {
  border: 1px solid #fff;
  background: transparent;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__nav {
  position: relative;
}

.header__nav-wr {
  gap: 15px;
  padding: 0 5px;
}

.linePC {
  display: block;
}

.lineMobile {
  display: none;
  font-weight: 700;
}

.header__burger {
  z-index: 9000;
  position: relative;
  display: block;
  width: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
}

.burger__open {
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
  z-index: 99999;
  top: 100%;
  right: calc(15px + 15 * ((100vw - 320px) / 1380));
  width: 200px;
  background: #102F28;
  padding: 50px 35px;
  pointer-events: none;
}

.burger__open-active {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.burger__list {
  gap: calc(30px + 20 * ((100vw - 320px) / 1380));
  line-height: 120%;
}

.btn-anim {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.btn-anim-reverse {
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.fl50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.avaptImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.content-swiper {
  margin: 0 auto;
  max-width: 1900px;
  padding-left: calc(-20px + 120 * ((100vw - 320px) / 1380));
  padding-right: calc(-20px + 120 * ((100vw - 320px) / 1380));
}

.catalog__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 24% 26% 20% 10%;
  grid-template-columns: 20% 24% 26% 20% 10%;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  z-index: 2;
}

.catalog__net-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  padding-bottom: 15px;
  font-size: calc(20px + 5 * ((100vw - 320px) / 1380));
  font-weight: 500;
  line-height: 105%;
}

.catalog__net-item:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0%, 50%);
      -ms-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  border-radius: 50%;
  background-color: #102F28;
}

.catalog__net-description {
  padding-top: 16px;
  line-height: 105%;
  font-size: 16px;
}

.catalog__dekor {
  position: absolute;
  right: -8%;
  bottom: 0%;
}

.catalog__title {
  margin-bottom: 40px;
}

.catalog__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__img {
  display: none;
}

.arrow-left {
  margin-right: calc(5px + 31 * ((100vw - 320px) / 1380));
  width: calc(40px + 20 * ((100vw - 320px) / 1380));
}

.arrow-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: calc(5px + 31 * ((100vw - 320px) / 1380));
  width: calc(40px + 20 * ((100vw - 320px) / 1380));
}

.catalog__swiper-swiper {
  max-width: 100%;
  width: 100%;
  min-width: 0px;
  overflow: hidden;
}

.swiper-slide-wr {
  position: relative;
}

.swiper-slide-wr p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: "SovMod";
  line-height: 105%;
  font-size: 40px;
  z-index: 2;
}

.swiper-slide-wr:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.catalog__btn {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 1600px) {
  .swiper-slide-wr p {
    font-size: calc(10px + 30 * ((100vw - 320px) / 1380));
  }
}

@media (max-width: 1400px) {
  .header__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .header__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (max-width: 1200px) {
  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-top: 20px;
  }

  .header__photo {
    display: none;
  }

  .pl18 {
    padding: 0 30px;
  }

  .catalog__dekor {
    top: 20%;
  }
}

@media (max-width: 992px) {
  .catalog__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .catalog__net-item {
    font-size: 25px;
    padding-left: 28px;
  }

  .catalog__net-item:after {
    left: 28px;
  }

  .catalog__net-description {
    padding-left: 28px;
    padding-bottom: 30px;
  }

  .catalog__content {
    padding: 0;
  }

  .cat-item-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .cat-item-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .cat-item-3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .cat-item-4 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .cat-item-5 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }

  .cat-description-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .cat-description-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .cat-description-3 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .cat-description-4 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }

  .cat-description-5 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

@media (max-width: 767px) {
  .header__main {
    padding: 0;
  }

  .header__nav-btn {
    padding: 0;
  }

  .pl18 {
    padding: 0;
  }

  .nav-btn__img {
    display: none;
  }

  .no-webp .nav-btn__text {
    background: url("../img/header__main-photo.jpg") center center/cover no-repeat; }

  .nav-btn__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 30px 20px 30px;
  }

  .nav-btn__subttle {
    padding-left: 0;
    -webkit-transform: translateX(-9%);
        -ms-transform: translateX(-9%);
            transform: translateX(-9%);
  }

  .initial__btn,
  .initial__btn-red {
    margin-left: 0;
  }

  .header__nav {
    padding: calc(15px + 15 * ((100vw - 320px) / 1380));
  }

  .header__nav-wr {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .linePC {
    display: none;
  }

  .lineMobile {
    display: block;
  }

  .nav-btn__text-wr {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    padding: 70px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 45px;
  }

  .burger__open {
    padding: 25px 20px;
  }

  .content-swiper {
    padding: 0 25px;
  }

  .catalog__title {
    margin-bottom: 20px;
  }

  .catalog__swiper {
    display: none;
  }

  .catalog__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .swiper-slide-wr p {
    font-size: calc(20px + 10 * ((100vw - 320px) / 1380));
  }
}

@media (max-width: 600px) {
  h3 {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .nav-btn__text {
    padding: 50px 15px 20px 15px;
  }

  .nav-btn__text-wr {
    padding: 50px 10px;
  }

  .catalog__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (any-hover: hover) {
  .initial__btn:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #242424;
  }

  .initial__btn-red:hover {
    background: #c42c31;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .header__btn:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #2D2D2D;
    border: 1px solid transparent;
  }

  .catalog__btn:hover {
    background: #2D2D2D;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid transparent;
  }
}

@media (max-width: 767px) {

  .webp .nav-btn__text { background: url(../img/header__main-photo.webp) center center/cover no-repeat; }
}